/* Default styles — for desktops / large screens */
body {
    font-size: 16px;
}

/* Tablet screens (max width 768px) */
@media (max-width: 768px) and (min-width: 365px) {
    body {
        font-size: 14px;
    }

    .container {
        padding: 10px;
    }

    .image {
        left: 0px !important;
        height: 550px !important;
        transform: translateX(0%) !important;
    }

    .sidebar {
        display: none;
    }

    .home-header {
        display: block !important;
    }

    #hero {
        align-items: start !important;
    }

    #hero .container {
        margin-top: 50px;
    }

    .follow-section {
        bottom: 30px !important;
    }


    .home-header .left .header {
        font-size: 45px !important;
    }

    .home-header .right {
        width: 100% !important;
    }

    .follow-section {
        max-width: 480px !important;
    }

    #about, #skills, #projects {
        padding-inline: 15px;
    }

    @media screen and (max-width:520px) {
        .follow-section {
            max-width: 410px !important;
        }
    }

    @media screen and (max-width:450px) {
        .follow-section {
            max-width: 350px !important;
        }
    }

    /* Mobile screens (max width 480px) */
    @media (max-width: 480px) {
        body {
            font-size: 13px;
        }

        .nav-links {
            flex-direction: column;
            gap: 10px;
        }

        .image {
            left: 0px !important;
        }

        .hero h1 {
            font-size: 24px;
        }
    }
}

@media screen and (max-width:992px) and (min-width:768px) {
    .follow-section {
        max-width: 670px !important;
    }
}

@media screen and (max-width:1200px) and (min-width:992px) {
    .follow-section {
        max-width: 900px !important;
    }
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

@keyframes updown {

    0%,
    100% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(10px)
    }
}

.animate-updown {
    animation: updown 1.5s infinite ease-in-out;
}